.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px 20px ; 
  padding: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 14px;
  background: white;
  transition: 0.2s ease;
  height: 100%;
}

.image-area {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f5f5; 
  border-radius: 8px;
  padding: 0 5px; 
  height: 200px;
}

.image-area img {
  max-width: 100%; 
  height: 100%;
  object-fit: contain;
}


.nav-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none; 
  border: none;
  font-size: 20px; 
  color: #888; 
  cursor: pointer;
  padding: 10px 5px;
  z-index: 10;
  transition: color 0.2s, transform 0.1s;
}

.nav-arrow:hover {
  color: #333; 
}

.nav-arrow:active {
  transform: translateY(-50%) scale(0.9); 
}

.left {
  left: -18px; 
}

.right {
  right: -18px; 
}

h3 {
  font-size: 15px;
  margin: 10px 0;
}

.description {
  font-size: 13px;
  color: #555;
   flex-grow: 1;
  margin-bottom: 100px;
  line-height: 1.4em;
  height: 4.2em
}

.price {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px; 
}

.rating {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 15px; 
}

.star {
  font-size: 14px;
}

.rating-value {
  font-size: 12px;
  color: #888;
  margin-left: 5px;
}


.card-actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
   
}

.kaspi-link {
  display: block;
  text-align: center;
  padding: 10px;
  background-color: #e9f0ff;
  color: #0047BB;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
}

.kaspi-link:hover {
  background-color: #d6e4ff;
}

.whatsapp-btn {
  width: 100%;
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

.whatsapp-btn:hover {
  background-color: #e6e6e6;
}