.card {
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 21px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  
}

.card img {
  width: 100%;
  height: 300px; 
  object-fit: contain;
  margin-bottom: 15px;
}
.product-info {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
}

.card h3 {
  font-size: 25px;
  line-height: 1.3;
  font-weight: 800;
  margin: 0 0 10px 0;
  color: #000;
  line-height: 1.5;
  min-height: 48px;
}
.card p {
  font-size: 24px;       
  color: #4a4a4a;
  line-height: 1.2;
}

.btn-action {
    width: 100%;            
    height: 65px;            
    margin-bottom: 9px;      
    font-size: 22px;         
    font-weight: 800;        
    text-transform: uppercase; 
    border: 2px solid #333;  
    border-radius: 10px;   
    background-color: #fff;
    cursor: pointer;
    transition: all 0.2s ease;
}
.btn-delete {
    color: #f14635;
    border-color: #f14635;
}


.btn-whatsapp {
    color: #25D366;
    border-color: #25D366;
}

.btn-action:hover {
    transform: translateY(-2px); 
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);}

.stats {
  display: flex;
    flex-direction: column;
  gap: 6px;
  font-size: 30px;
}
.rating-block {
  display: flex;
  align-items: center;
  gap: 10px;
}

.star {
  color: #ccc;
  font-size: 45px;
}

.star.filled {
  color: gold;
}
.rating-number {
  position: relative;
  top: 8px;   
}
.likes {
  color: black;
  
}   

.btn-kaspi {
   background-color: white; 
  color: #56CCF2; 
  border: 2px solid #56CCF2;
}

.btn-kaspi:hover {

  border-color: #2D9CDB;
}
.actions-container {
    margin-top: auto; 
    padding-top: 15px;
}
.price {
  font-size: 28px;
  font-weight: 900;
  margin-top: 20px;
}