
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family:
          -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
          Arial, sans-serif;
      }

      body {
        background: #fff;
      }

      .global-page {
        display: grid;
        grid-template-columns: 1fr 1px 1fr;
        grid-template-areas:
          "left-side line right-side"
          "footer footer footer";
        min-height: 100vh;
      }

      .left-side {
        grid-area: left-side;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
      }

      .icon {
        position: absolute;
        left: 36px;
        top: 25px;
        margin-bottom: 20px;
      }

      .text-all {
        font-size: 43px;
        font-weight: 400;
        line-height: 64.8px;
        text-align: center;
        max-width: 800px;
        margin: 100px 60px 0;
        font-family: "Times New Roman", Times, serif;
      }

      .textcolor {
        font-family: "Times New Roman", Times, serif;
        background: linear-gradient(to right, #ff5c00, #ff0069, #d300c5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .frame {
        margin-top: 0;
      }

      .pic {
        width: 549px;
        height: auto;
      }

     
      .line {
        grid-area: line;
        background-color: rgb(221, 226, 232);
      }

     
      .right-side {
        grid-area: right-side;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .area {
        width: 550px;
        text-align: center;
      }

      .in {
        font-size: 19px;
        font-weight: 600;
        margin-bottom: 24px;
        text-align: left;
      }

      
      .forms input {
        width: 100%;
        height: 58px;
        margin-bottom: 6px;
        padding: 9px 8px 7px;
        border-radius: 12px;
        border: 1px solid #dbdbdb;
        background: #fff;
        font-size: 17px;
        font-weight: 400;
      }

      .signin {
        width: 100%;
        height: 44px;
        background-color: rgb(0, 100, 224);
        border: none;
        border-radius: 22px;
        color: white;
        font-weight: 600;
        margin-top: 20px;
        cursor: pointer;
        font-size: 17px;
      }

      .link {
        width: 100%;
        height: 44px;
        border-radius: 22px;
        border: none;

        margin: 16px 0;
        padding: 12px 0;
      }

      .link:hover {
        background-color: rgba(10, 10, 10, 0.1);
      }

      .link a {
        text-decoration: none;
        font-size: 15px;
        font-weight: 600;
        color: black;
      }

      .others {
        margin-top: 46px;
      }

      .others button {
        width: 100%;
        height: 44px;
        margin-top: 10px;
        border-radius: 22px;
        cursor: pointer;
      }

      .facein {
        border: 1px solid #dbdbdb;
        background: #fff;
        font-weight: 600;
        font-size: 15px;
      }

      .create-new {
        border: 1px solid rgb(0, 100, 224);
        background: #fff;
        color: rgb(0, 100, 224);
        font-weight: 600;
        font-size: 15px;
      }

      .meta {
        margin-top: 30px;
        font-size: 15px;
        color: black;
        font-weight: 600;
      }

    
      .footer {
        grid-area: footer;
        height: 60px;
        border-top: 2px solid rgb(221, 226, 232);
        display: flex;
        justify-content: center;
        text-align: center;
      }

      @media (max-width: 768px) {
        .global-page {
          grid-template-columns: 1fr;
          grid-template-areas:
            "right-side"
            "footer";
        }

        .left-side,
        .line {
          display: none;
        }
      }
      .foot{
        max-width: 890px;
        display: flex;
        justify-content: center;
        text-align: center;
      }
      ul {
        display: flex;
        gap: 5px 18px;
        list-style: none;
        flex-wrap: wrap;
        justify-content: center;
        color: grey;
      }
      ul li,a{
        color: grey;
        text-decoration: none;
        font-size: 13px;
      }