body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
 display: flex;
flex-direction: column;
align-items: center;
}


header {
  width: 100%;
  background-color: #222;
  color: rgba(255, 255, 255, 0.7);
  padding: 10px 20px;
  font-size: 17px;
  padding-left: 90px;
}


main {
  margin-top: 40px ;
  width: 90%;
  max-width: 600px;
}


.title {
  text-align: left;
  margin-bottom: 20px;
  font-size: 26px;
}


form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  max-width: 380px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 18px;
  font-size: 16px;
  background-color: #337ab7;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #286090;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f9f9f9;
  padding: 12px;
  margin-bottom: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: 0.2s ease;
}

.task-left {
  display: flex;
  align-items: center;
  gap: 10px;
}


li.done span {
  text-decoration: line-through;
  color: #888;
}


.delete-btn {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 23px;
}

.delete-btn:hover {
  color: darkred;
}
