
.top-navbar {
  background-color: #ffffff;
  border-bottom: 2px solid #f0f0f0; 
  padding: 20px 0;
  width: 100%;
  position: sticky; 
  top: 0;

  z-index: 1000;
  display: flex;
  align-items: center;
}

.header-container {
  
  margin: 10px ;
  padding: 10px ;
  width: 100%;
}

.logo {
  height: 80px; 
  display: block;
  width: auto;
}


.container {
  width: 100%;
  margin: 20px 0;
  padding: 0 40px;
}

.category-list {
  display: flex;
  gap: 40px;
  margin-bottom: 60px;
}

.category-list button {
  padding: 30px 50px;
  border: none;
  background: #f2f2f2;
  border-radius: 19px;
  border-color: #f14635;
  font-size: 35px;
  cursor: pointer;
  font-weight: bold;
}

.category-list button.active {
  background: #f14635;
  color: white;
  transform: scale(1.05);
}

.welcome{
  font-size: 60px;
}